<h1>Following</h1>

<h1>NewsFeed</h1>
<% if @followed_users.count < 1 %>
<p>Nothing to show on NewsFeed</p>
<% end %>
<% @followed_users.each do |user| %>
  <% if user.followed_user.posts.count > 0 %>
    <%= render partial: "post", collection: user.followed_user.posts, as: :post  %>
  <% end %>
<% end %>

<h2>Users you can follow</h2>
<% if @not_followed_users.count < 1 %>
<p>No one to follow!</p>
<% end %>
<%= render partial: "users/user", collection: @not_followed_users, as: :user %>